# Creado por https://www.toptal.com/developers/gitignore/api/django
# Edita en https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.registro
*.olla
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-diario
medios de comunicación

# Si tu proceso de compilación incluye la ejecución de collectstatic, entonces probablemente no necesites ni quieras incluir staticfiles/
# en tu repositorio Git. Actualiza y descomenta la siguiente línea según corresponda.
# <nombre-del-proyecto-django>/archivos-estáticos/

### Pila de Django y Python ###
# Archivos compilados/optimizados/DLL
*.py[código]
*$py.class

# Extensiones C
*.entonces

# Distribución / embalaje
.Pitón
construir/
desarrollar-huevos/
distancia/
descargas/
huevos/
.huevos/
lib/
lib64/
regiones/
sdist/
var/
ruedas/
compartir/ruedas-python/
*.egg-info/
.installed.cfg
*.huevo
MANIFIESTO

# PyInstaller
Normalmente, estos archivos se escriben mediante un script de Python a partir de una plantilla.
# antes de que PyInstaller compile el ejecutable, para inyectarle la fecha y otra información.
*.manifiesto
*.especulación

# Registros del instalador
pip-log.txt
pip-eliminar-este-directorio.txt

# Informes de pruebas unitarias / cobertura
htmlcov/
.tox/
.nox/
.cobertura
.cobertura.*
.cache
nosetests.xml
coverage.xml
*.cubrir
*.py,cover
.hipótesis/
.pytest_cache/
cubrir/

# Traducciones
*.mes

# Cosas de Django:

# Cosas de Flask:
instancia/
caché de recursos web

# Cosas de Scrapy:
.scrapy

# Documentación de Sphinx
docs/_build/

# PyBuilder
.pybuilder/
objetivo/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
perfil_predeterminado/
ipython_config.py

# pyenv
# Para una biblioteca o paquete, es posible que desee ignorar estos archivos ya que el código es
# Diseñado para ejecutarse en múltiples entornos; de lo contrario, inclúyalos en:
# .python-version

#pipenv
# Según pypa/pipenv#598, se recomienda incluir Pipfile.lock en el control de versiones.
# Sin embargo, en caso de colaboración, si existen dependencias o dependencias específicas de la plataforma
Al no tener soporte multiplataforma, pipenv puede instalar dependencias que no funcionen, o no
# Instalar todas las dependencias necesarias.
#Pipfile.lock

# poesía
# Al igual que con Pipfile.lock, generalmente se recomienda incluir poetry.lock en el control de versiones.
Esto se recomienda especialmente para paquetes binarios para garantizar la reproducibilidad, y es más
# Generalmente se ignora en las bibliotecas.
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poesía.lock

# pdm
# Al igual que con Pipfile.lock, generalmente se recomienda incluir pdm.lock en el control de versiones.
#pdm.lock
# pdm almacena las configuraciones de todo el proyecto en .pdm.toml, pero se recomienda no incluirlo.
# en el control de versiones.
# https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; utilizado, por ejemplo, en github.com/David-OConnor/pyflow y github.com/pdm-project/pdm
__pypackages__/

# Cosas de apio
Horario de celerybeat
celerybeat.pid

# Archivos analizados por SageMath
*.sage.py

# Entornos
.env
.venv
entorno/
venv/
MEDIO AMBIENTE/
entorno.bak/
venv.bak/

# Configuración del proyecto Spyder
.spyderproject
.spyproject

# Configuración del proyecto de cuerda
.proyecto de cuerda

# Documentación de mkdocs
/sitio

#mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Comprobador de tipos Pyre
.pira/

# Analizador de tipos estático de pytype
.pytype/

# Símbolos de depuración de Cython
cython_debug/

# PyCharm
La plantilla específica de JetBrains se mantiene en un archivo JetBrains.gitignore separado que puede
# Se puede encontrar en https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# y se puede añadir al archivo .gitignore global o fusionarlo con este archivo. Para una solución más nuclear
# Opción (no recomendada): puedes descomentar lo siguiente para ignorar toda la carpeta de ideas.
#.idea/

# Fin de https://www.toptal.com/developers/gitignore/api/django